.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post{
    width: 100%;
    max-width: 450px;
    height: 95vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    margin: 1% 0px;
}
.post .post-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-color: #00000057;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
li{
    list-style: none;
    margin-bottom: 20px;
}
.post .profilepic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.post .profilepic img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.post .authur{
    display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  

}
.post .authur-info{
    display: flex;
    flex-direction: column;

}
.post .post-content {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.overflow-content p .content{
    height: 40px;
    overflow: hidden;
    display: block;
}
.overflow-content p .more{
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.overflow-content p .more:hover{
    color: #ededed;
}
.activities-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.activities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
}
.activities-container i{
    background-color: #0c0f2792;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.activities-container .activity span{
    font-size: 12px;
    color: #ededed;
    font-weight: bold;

}
.activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.action-container{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}
.post:hover .action-container{
    display: flex;
}
.action-container .action{
    cursor: pointer;
    margin-top: 50px;
    position: relative;

}
.action .span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    right: 0;

    font-size: 10px;
    bottom:0;
}
.showcomment{
   width: 100%;
   height: 100%;
   position: relative;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    min-height: 200px;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 30%;
    z-index: 10;
    background-color: #fff;
  
}
.more .py-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.more a{
    color: #fff;
    font-weight: bold;
    background-color: rgb(163, 66, 66);
    padding: 10px 15px;
    border-radius: 10px;

}
.comment-con{
    display: flex;
    position:fixed;
    right:0;
    top:0;
    bottom:0;
     max-Width:460px;
     width:90%;
     z-index: 1000; 
     justify-content: right;
     align-items: flex-start;
     overflow-y: scroll;
}
.image-post{

   
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
.image-post .authur{
    justify-content: flex-start;
}
.image-post .content{
    
    margin: 0;
}
.post-image{
    width: 100%;
    min-height: 50%;
    flex: 1;

}
.post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activities{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    

}
.activities .activity{
    display: flex;
    flex-direction: row;
}
.text-post{
  
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.text-post .authur{
    justify-content: flex-start;
}
.text-post-content{
    position: relative;
    width: 100%;
    min-height: 50%;
    flex: 1;
   
}
.text-post-content img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

}
.text-post-content .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display:flex ;
    justify-content: center;
    align-items: center;
    background: url('../asset/register.png');
    background-position: center;
    background-size: cover;
}
.text-post-content .content p{
    word-wrap: break-word; /* old but still works */
    overflow-wrap: break-word; /* modern, preferred */
    width: 100%;

}

@media (max-width:890px) {
    .comment-con{
        
        right:0;
        top:30%;
        bottom:0;
        left: 0;
         width:100%;
         max-width: 700px;
         z-index: 1000;
         flex-direction: column; 
         overflow-y: scroll;
         height: 70vh;

         
        
        
    
    }


}

@media (max-width:500px) {
    .post{
        width: 100%;
        max-width: 500px;
    }
    
}