@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff8a23;
  --secondary: #0c0f27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
  }
}

html{
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-img{
  background-image: url("/register.png");
}

.scrollbar{
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--secondary);
  /* overflow: hidden; */
  box-sizing: border-box;
  &:hover{
    scrollbar-color: #192050 var(--secondary);
    overflow-y: scroll;
  }
}
/* .hide-scroll{
  scrollbar-color: #192050 var(--secondary);
  overflow-y: scroll;
} */
button{
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.cstm-height{
  height: calc(100vh - 140px);
  /* background: #000; */
}
